
header {
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;

  box-sizing: border-box;
  background-color: #263238;
  color: rgb(170, 170, 170);
  position: absolute;
}
header .logo {
  float: left;
  font-size: 22px;
  font-weight: 450;
  line-height: 50px;
  color: #ef5350;
}
header nav {
  float: right;
  padding-right: 10%;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  list-style: none;
}
.logo {
  padding-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 17px;
  line-height: 50px;
  box-sizing: border-box;
  height: 50px;
  padding: 0 20px;
  color: white;
}
header nav ul li:hover {
  background-color: #ef5350;
}
.navbarIcon {
  font-size: 35px;
  display: flex;
  line-height: 50px;
  color: white;
  float: right;
  display: none;
}

@media (max-width: 600px) {
  .navbarIcon {
    display: block;
    margin-right: 10px;
  }
  header .logo {
    margin-left: 10px;
    border-bottom: 0.5px solid white;
  }
  header {
    padding: 0;
  }

  header nav {
    display: none;
    /* margin-top: 50px; */
    transition: 0.5s;
    width: 100%;
    margin: 0;
    padding-right: 0%;
    left: -100%;
  }

  header nav.activetrue {
    display: block;
    left: 0;
  }

  header nav ul {
    display: block;
    background-color: #263238;
  }
  header nav ul li {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  }

  header nav ul li a {
    width: 100%;
  }
}
